.cowork2
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 
    grid-template-rows: 400px 130px

    .description
        border: black solid 1px
        border-radius: 20px
        h3
            color: white
            padding-left: 20px
            text-decoration: underline 2px solid grey
            text-underline-offset: 8px
            span
                color: #3E215D

        p
            color: white
            padding-left: 20px
            line-height: 35px
            span
                color: #3E215D

    .gratuit
        border: black solid 1px
        border-radius: 20px
        h3
            color: white
            padding-left: 20px
            text-decoration: underline 2px solid grey
            text-underline-offset: 8px
            span
                color: #3E215D
        p
            color: white
            padding-left: 20px
            line-height: 20px
            span
                color: #3E215D
        ul
            color: #3E215D
            font-weight: bold
              
    .horaire
        grid-column: span 2

        h3
            color: white
            padding-top: 0px
            padding-left: 25px
            text-decoration: underline 2px solid grey
            text-underline-offset: 8px
            span
                color: #3E215D
        p
            color: white
            padding-top: 10px
            padding-left: 25px

        

