@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 25px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

footer {
  width: 100%;
  height: 250px;
  background: #284E78;
}
footer .liens {
  width: 100%;
  height: 30%;
}
footer .liens .lesLiens {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .liens .lesLiens i {
  font-size: xx-large;
  color: #8CC0DE;
  padding-right: 10px;
}
footer .liens .lesLiens a {
  width: 25%;
  height: 50%;
  color: white;
  font-size: large;
  text-decoration: none;
}
footer .logo2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo2 img {
  width: 170px;
  height: 50px;
  padding-top: 15px;
}
footer .logo2 .copyright {
  margin-bottom: 0px;
  opacity: 50%;
  color: grey;
}
footer .logo2 .molen {
  margin-bottom: 0px;
  color: white;
}

@media (max-width: 376px) {
  footer {
    width: 400px;
  }
}
.home1 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
}
.home1 .banniere1 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/banniere1.jpg");
  background-size: cover;
  background-attachment: fixed;
  border-top: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home1 .banniere1 h1 {
  width: 50%;
  line-height: 70px;
  margin: 0;
  padding: 0;
  color: #3E215D;
  filter: brightness(-1);
  font-size: 40px;
}

.home2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px black;
}
.home2 .descripLien {
  width: 30%;
  height: 100%;
}
.home2 .descripLien h2 {
  color: white;
  padding-bottom: 0px;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
  padding-left: 20px;
}
.home2 .descripLien h2 span {
  color: #3E215D;
  font-style: bold;
}
.home2 .descripLien p {
  color: white;
  line-height: 25px;
  padding-top: 0px;
  padding-left: 20px;
}
.home2 .descripLien a {
  color: #3E215D;
  height: 40%;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.1s;
  padding-right: 10px;
  padding-left: 10px;
}
.home2 .descripLien a:hover {
  border-bottom: solid black 4px;
}
.home2 .partieCarousel {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home2 .partieCarousel h2 {
  color: white;
  padding-bottom: 0px;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
}
.home2 .partieCarousel #carouselExampleSlidesOnly {
  width: 100%;
  height: 50%;
}

.home3 {
  width: 100%;
  height: 400px;
  display: flex;
}
.home3 .maps {
  width: 65%;
  height: 100%;
}
.home3 .maps iframe {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
}
.home3 .contactInfo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.home3 .contactInfo h1 {
  color: white;
  text-decoration: underline 2px grey solid;
  text-underline-offset: 8px;
}
.home3 .contactInfo p {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  color: white;
}

.home4 {
  width: 100%;
  height: 250px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home4 .lettre {
  font-size: 50px;
  color: #3E215D;
  padding-top: 35px;
}
.home4 h3 {
  color: white;
  text-decoration: underline 2px grey solid;
  text-underline-offset: 8px;
}
.home4 .inscription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home4 .inscription input {
  width: 500px;
  height: 30px;
  font-family: fontSite;
  border-radius: 10px;
}
.home4 .inscription button {
  width: 150px;
  height: 35px;
  margin-left: 20px;
  background: #3E215D;
  color: white;
  font-family: fontSite;
  border-radius: 10px;
}

.home5 {
  width: 100%;
  height: 400px;
  display: flex;
}
.home5 h2 {
  color: white;
  text-decoration: underline 2px grey solid;
  text-underline-offset: 8px;
}
.home5 .evenements {
  width: 100%;
  height: 100%;
  display: flex;
}
.home5 .evenements .aVenir {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home5 .evenements .aVenir .infos1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home5 .evenements .aVenir .infos1 .seances h4 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.home5 .evenements .aVenir .infos1 .seances p {
  color: #3E215D;
  font-weight: bold;
  font-size: 20px;
}
.home5 .evenements .aVenir .infos2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home5 .evenements .aVenir .infos2 .seances h4 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.home5 .evenements .aVenir .infos2 .seances p {
  color: #3E215D;
  font-weight: bold;
  font-size: 20px;
}

@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

footer {
  width: 100%;
  height: 250px;
  background: #284E78;
}
footer .liens {
  width: 100%;
  height: 30%;
}
footer .liens .lesLiens {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .liens .lesLiens i {
  font-size: xx-large;
  color: #8CC0DE;
  padding-right: 10px;
}
footer .liens .lesLiens a {
  width: 25%;
  height: 50%;
  color: white;
  font-size: large;
  text-decoration: none;
}
footer .logo2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo2 img {
  width: 170px;
  height: 50px;
  padding-top: 15px;
}
footer .logo2 .copyright {
  margin-bottom: 0px;
  opacity: 50%;
  color: grey;
}
footer .logo2 .molen {
  margin-bottom: 0px;
  color: white;
}

.cowork1 {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/cowork.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cowork1 h1 {
  margin: 0;
  padding: 0;
  width: 40%;
  color: #3E215D;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.cowork2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 130px;
}
.cowork2 .description {
  border: black solid 1px;
  border-radius: 20px;
}
.cowork2 .description h3 {
  color: white;
  padding-left: 20px;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
}
.cowork2 .description h3 span {
  color: #3E215D;
}
.cowork2 .description p {
  color: white;
  padding-left: 20px;
  line-height: 35px;
}
.cowork2 .description p span {
  color: #3E215D;
}
.cowork2 .gratuit {
  border: black solid 1px;
  border-radius: 20px;
}
.cowork2 .gratuit h3 {
  color: white;
  padding-left: 20px;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
}
.cowork2 .gratuit h3 span {
  color: #3E215D;
}
.cowork2 .gratuit p {
  color: white;
  padding-left: 20px;
  line-height: 20px;
}
.cowork2 .gratuit p span {
  color: #3E215D;
}
.cowork2 .gratuit ul {
  color: #3E215D;
  font-weight: bold;
}
.cowork2 .horaire {
  grid-column: span 2;
}
.cowork2 .horaire h3 {
  color: white;
  padding-top: 0px;
  padding-left: 25px;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
}
.cowork2 .horaire h3 span {
  color: #3E215D;
}
.cowork2 .horaire p {
  color: white;
  padding-top: 10px;
  padding-left: 25px;
}

.cowork3 {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cowork3 .contactInfo {
  width: 40%;
  height: 100%;
  padding-left: 40px;
}
.cowork3 .contactInfo h1 {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: underline 2px grey solid;
  text-underline-offset: 8px;
}
.cowork3 .contactInfo p {
  color: white;
  line-height: 40px;
}
.cowork3 .googleMaps {
  width: 60%;
  height: 100%;
  padding-right: 40px;
}
.cowork3 .googleMaps iframe {
  width: 100%;
  height: 90%;
  padding-top: 10px;
}

@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

footer {
  width: 100%;
  height: 250px;
  background: #284E78;
}
footer .liens {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
footer .liens .lesLiens {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .liens .lesLiens i {
  font-size: xx-large;
  color: #8CC0DE;
  padding-right: 10px;
}
footer .liens .lesLiens a {
  width: 25%;
  height: 50%;
  color: white;
  font-size: large;
  text-decoration: none;
}
footer .logo2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo2 img {
  width: 170px;
  height: 50px;
  padding-top: 15px;
}
footer .logo2 .copyright {
  margin-bottom: 0px;
  opacity: 50%;
  color: grey;
}
footer .logo2 .molen {
  margin-bottom: 0px;
  color: white;
}

.agenda1 {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/agenda1.avif");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agenda1 h1 {
  margin: 0;
  padding: 0;
  width: 40%;
  color: #3E215D;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.agenda2 {
  width: 100%;
  height: 500px;
  display: flex;
}
.agenda2 .permiereRange {
  width: 50%;
  height: 100%;
}
.agenda2 .permiereRange .infos1 {
  width: 100%;
  height: 33%;
}
.agenda2 .deuxiemeRange {
  width: 50%;
  height: 100%;
}
.agenda2 .deuxiemeRange .infos1 {
  width: 100%;
  height: 33%;
}

@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

footer {
  width: 100%;
  height: 250px;
  background: #284E78;
}
footer .liens {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
footer .liens .lesLiens {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .liens .lesLiens i {
  font-size: xx-large;
  color: #8CC0DE;
  padding-right: 10px;
}
footer .liens .lesLiens a {
  width: 25%;
  height: 50%;
  color: white;
  font-size: large;
  text-decoration: none;
}
footer .logo2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo2 img {
  width: 170px;
  height: 50px;
  padding-top: 15px;
}
footer .logo2 .copyright {
  margin-bottom: 0px;
  opacity: 50%;
  color: grey;
}
footer .logo2 .molen {
  margin-bottom: 0px;
  color: white;
}

.propos1 {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/molengeek.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.propos1 h1 {
  margin: 0;
  padding: 0;
  width: 40%;
  color: #3E215D;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.propos2 {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.propos2 .lesPhotos {
  width: 50%;
  height: 100%;
  padding-top: 100px;
  padding-left: 20px;
}
.propos2 .lesPhotos .grandesPhotos {
  width: 100%;
  height: 250px;
  padding-bottom: 20px;
}
.propos2 .lesPhotos .grandesPhotos img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.propos2 .lesPhotos .petitesPhotos {
  width: 100%;
  height: 150px;
  display: flex;
  padding-bottom: 20px;
  gap: 65px;
}
.propos2 .lesPhotos .petitesPhotos .photoDroite {
  width: 45%;
}
.propos2 .lesPhotos .petitesPhotos img {
  border-radius: 10px;
}
.propos2 .lesPhotos .petitesPhotos .photoGauche {
  width: 45%;
}
.propos2 .lesPhotos .petitesPhotos img {
  border-radius: 10px;
}
.propos2 .lesText {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.propos2 .lesText h2 {
  color: white;
}
.propos2 .lesText h2 span {
  color: #3E215D;
}
.propos2 .lesText p {
  color: white;
  width: 70%;
}

@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

footer {
  width: 100%;
  height: 250px;
  background: #284E78;
}
footer .liens {
  width: 100%;
  height: 30%;
}
footer .liens .lesLiens {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .liens .lesLiens i {
  font-size: xx-large;
  color: #8CC0DE;
  padding-right: 10px;
}
footer .liens .lesLiens a {
  width: 25%;
  height: 50%;
  color: white;
  font-size: large;
  text-decoration: none;
}
footer .logo2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo2 img {
  width: 170px;
  height: 50px;
  padding-top: 15px;
}
footer .logo2 .copyright {
  margin-bottom: 0px;
  opacity: 50%;
  color: grey;
}
footer .logo2 .molen {
  margin-bottom: 0px;
  color: white;
}

.jobs1 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
}
.jobs1 .banniere2 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/jobs.jpg");
  background-size: cover;
  background-attachment: fixed;
  border-top: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jobs1 .banniere2 h1 {
  width: 50%;
  line-height: 70px;
  margin: 0;
  padding: 0;
  color: #284E78;
  filter: brightness(-1);
  font-size: 40px;
}

.jobs2 {
  width: 100%;
  height: 350px;
  display: flex;
}
.jobs2 .range1 {
  width: 25%;
  height: 93%;
  text-align: center;
  border: 2px black solid;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.jobs2 .range1 h3 {
  color: #3E215D;
  padding-top: 60px;
  text-decoration: underline 2px solid white;
}
.jobs2 .range1 p {
  color: white;
}

.jobs3 {
  width: 100%;
  height: 350px;
  display: flex;
}
.jobs3 .range1 {
  width: 25%;
  height: 90%;
  text-align: center;
  border: 2px black solid;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.jobs3 .range1 h3 {
  color: #3E215D;
  padding-top: 60px;
  text-decoration: underline 2px solid white;
}
.jobs3 .range1 p {
  color: white;
}

@font-face {
  font-family: fontSite;
  src: url(./../src/font/static/RobotoSlab-Medium.ttf);
}
body {
  background: #7A9D54;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: fontSite;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

header {
  background: #3E215D;
  height: 70px;
  width: 100%;
}
header .navBar {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: solid black 2px;
}
header .navBar .logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .logo img {
  width: 100%;
  height: 80%;
}
header .navBar .links {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}
header .navBar .links a {
  color: white;
  height: 40%;
  text-decoration: none;
  font-size: 20px;
  transition: 0.1s;
}
header .navBar .links a:hover {
  border-bottom: solid black 4px;
}
header .navBar .languages {
  width: 15%;
  height: 100%;
}

.formations1 {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.2862745098)), url("./../src/images/formation1.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formations1 h1 {
  margin: 0;
  padding: 0;
  width: 40%;
  color: #3E215D;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.formations2 {
  width: 100%;
  height: 500px;
}

.formations3 {
  width: 100%;
  height: 250px;
  border-top: 2px solid black;
}
.formations3 .faq {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formations3 .faq .questionRe {
  width: 20%;
  height: 100%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.formations4 {
  width: 100%;
  height: 470px;
  display: flex;
  border-top: 2px solid black;
}
.formations4 .pourquoi {
  width: 45%;
  height: 100%;
  padding-left: 20px;
  border-right: 2px solid black;
}
.formations4 .pourquoi h2 {
  color: #3E215D;
  text-decoration: underline 2px solid grey;
  text-underline-offset: 8px;
}
.formations4 .pourquoi p {
  color: white;
}
.formations4 .testimonials {
  width: 55%;
  height: 90%;
  display: flex;
}
.formations4 .testimonials iframe {
  width: 250px;
  height: 250px;
  padding-left: 50px;
  padding-top: 100px;
  padding-right: 50px;
  border: none;
}

/*# sourceMappingURL=app.css.map */
